# Nhost Environment
NEXT_PUBLIC_NHOST_SUBDOMAIN="local"
NEXT_PUBLIC_NHOST_REGION=""

# Backend Environment (DO NOT EXPOSE TO FRONTEND)
NHOST_ADMIN_SECRET="<your-admin-secret>"
OPENAI_API_KEY="<your-openai-key>"
NHOST_GRAPHQL_URL="http://localhost:1337/v1/graphql"
